@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;1,300&family=Signika+Negative:wght@500&display=swap');

        h1 { 
            color: black;
            font-family: 'Exo', sans-serif;
            font-family: 'Signika Negative', sans-serif;
        
        }

        .center-horizontal {
            text-align: center;

        }

        img {
            border: 5px solid #63c132;
            text-align: center;
        }

        #bodyDecor {
            background-color: #cffcff;
            font-family: 'Exo', sans-serif;
            font-family: 'Signika Negative', sans-serif;
            margin-bottom: 10%;
        }

        .h2Decor{
            color: black;
            border: 5px solid #63c132;
            font-family: 'Exo', sans-serif;
            font-family: 'Signika Negative', sans-serif;
            padding: 10px;
            
        }
        #h3Decor {
            font-family: 'Exo', sans-serif;
            font-family: 'Signika Negative', sans-serif;
            font-size: 20px;

        }

            a {text-decoration: none;}
            a:link { color: #09814a; }
            a:visited {color: #083d77;}
            a:focus {color: #4a7c59;}
            a:hover {color: #086788;}
            a:active {color: #204B57;}