@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
body
{
    background-color: bisque ;
    font-family: 'Manrope', sans-serif;
}

img{
    max-width: 500px;
    max-height: 500px;
}

h1
{
    font-size: 32px;
}

p
{
    font-size: 24px;
}